body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url('images/background.png'); 
  background-size: cover;
  background-position: center; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

h1 {
  color: #337ab7;
}

form {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.logo {
  max-width: 20%; /* Adjust the percentage to your liking */
  height: auto;
  margin: 0 auto; /* Center the logo */
}

input[type="submit"]:hover {
  background-color: #23527c;
}

.background {
  height: 100vh; /* or any specific height you need */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
